body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  min-width: 100vw;
  background-color: #f8f9fa;
}

.app-header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.app-header h1 {
  margin: 0;
  font-size: 3rem;
}

.app-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: gainsboro; /* Optional: background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
  min-height: 100vh;
}

.book-list-container {
  margin-top: 40px;
  width: 70%; /* Set width to 80% of its parent container */
  height: auto; /* Automatically adjust height based on content */
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  font-size: 1rem;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 1.5rem;
}

table th {
  background-color: #343a40;
  color: white;
}

.btn-success {
  display: inline-block;
  background-color: #28a745;
  border: none;
  padding: 10px 15px;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-delete,
.btn-edit {
  margin-right: 10px; /* Adds space between buttons */
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-delete {
  background-color: #e74c3c;
  color: white;
}

.btn-update {
  background-color: #3498db;
  color: white;
}

.update-form {
  margin-top: 20px;
}

.update-form input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-center {
  text-align: center;
  font-size: 300%;
}

.action-container {
  text-align: center;
  margin-top: 20px;
}

.app-footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.app-footer p {
  margin: 0;
  font-size: 0.9rem;
}
